body {
    background-color: #4F4F4F;
}
a {
    text-decoration: none;
}
#nc-header {
    position: fixed;
    background-color: #333333;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
}
#header-spacer {
    position: relative;
    display: block;
    height: 50px;
}
#nc-footer {
    position: absolute;
    background-color: #333333;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}
#system-graphs {
    position: relative;
    display: block;
    height: 500px;
    margin: 40px 40px 40px;
    border-radius: 25px;
    background-color: #444444;
    padding: 10px;
}
.homepage-graph {
    position: relative;
    display: block;
    height: 400px;
    width: 1000px;
}
.graph-container {
    position: relative;
    border-style: solid;
    border-color: black;
    width: 1000px;
}
#cpu-graph-container {
    position: relative;
    display: block;
    top: 20px;
    left: 100px;
    float: left;
}
#ram-graph-container {
    position: relative;
    display: block;
    top: 20px;
    right: 100px;
    float: right;
}
.graph-title {
    position: relative;
    text-align: center;
    font-family: "Raleway", 'sans-serif';
    font-size: 20px;
    color: #9B51E0;
}
.title {
    position: relative;
    text-align: center;
    margin: 10px;
    font-family: "Raleway", 'sans-serif';
    font-size: 30px;
    color: #9B51E0;
}
#start-node-label {
    position: relative;
    color: white;
    text-align: center;
    font-family: "Rouge Script", "cursive";
    font-size: 50px;
}
#start-button-container {
    position: relative;
    display: block;
    top: 50px;
    width: 500px;
    margin: auto;
}
.button {
    background-color: #9B51E0;
    text-align: center;
    font-family: "Raleway", 'sans-serif';
    color: white;
    border-radius: 25px;
    padding: 10px;
}
.button:hover {
    background-color: #BB6BD9;
}
#nodes {
    position: relative;
    display: block;
    top: 20px;
    width: 1000px;
    margin: auto;
}
.node-container {
    position: relative;
    display: block;
    border-radius: 5px;
    height: 50px;
    background-color: #6FCF97;

    margin: 20px;

    padding: 0;
    font-size: 40px;
    font-family: "Raleway", 'sans-serif';
    text-align: center;
    color: RGBA(0, 0, 0, 0.5);
}

#start-button {
    background-color: #4F4F4F;
    border-color: #333333;
    border-style: solid;
}