body {
    background-color: #4F4F4F;
}
#nc-header {
    position: fixed;
    background-color: #333333;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
}
#nc-footer {
    position: absolute;
    background-color: #333333;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}
.title {
    position: relative;
    text-align: center;
    margin: 10px;
    font-family: "Raleway", 'sans-serif';
    font-size: 30px;
    color: #9B51E0;
}
#start-node-label {
    position: relative;
    top: 500px;
    text-align: center;
    font-family: "cursive";
}
#start-button-container {
    position: relative;
    top: 1000px;
}
.button {
    background-color: #9B51E0;
    text-align: center;
    font-family: "Raleway", 'sans-serif';
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.button:hover {
    background-color: red;
}