<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>

    <center><h1>Viewing Node "{{ node['name'] }}"</h1></center>

    <br>

    <h4>History Mode: {{ node['history_mode'] }}</h4>
    <h4>Network: {{ node['network'] }}</h4>

    Status: {{ node['status'] }} <br>
    Tezos-Node RPC Port: {{ node['node_port'] }} <br>
    {% if node['history_mode'] == 'archive' %}
        Conseil Port: {{ node['conseil_port'] }} <br>
        Arronax Port: {{ node['arronax_port'] }} <br>
    {% endif %}

    <h4>Actions</h4>
    {% if node['status'] == 'running' %}
        <a href="http://localhost:{{node['arronax_port']}}" target="_blank">Query Node With Arronax</a> <br> <br>
<!--        <a href="/rpc?name={{node['name']}}">Query with RPC</a> <br> <br>-->
        <a href="/stop_node?name={{node['name']}}">Stop Node</a> <br> <br>
        <a href="/delete_node?name={{node['name']}}">Delete Node</a> <br> <br>
        <a href="/restart_node?name={{node['name']}}">Restart Node</a> <br> <br>
    {% else %}
        <a href="/stop_node?name={{node['name']}}">Stop Node</a> <br> <br>
        <a href="/restart_node?name={{node['name']}}">Restart Node</a> <br> <br>
        <a href="/delete_node?name={{node['name']}}">Delete Node</a> <br> <br>
    {% endif %}

    <h3>Tezos Node Logs</h3>
    <textarea id="tezos-node-logs"></textarea>
    {% if node['history_mode'] == 'archive' %}
        <h3>Conseil API Logs</h3>
        <textarea id="conseil-api-logs"></textarea>
        <h3>Conseil Lorre Logs</h3>
        <textarea id="conseil-lorre-logs"></textarea>
        <h3>Conseil Postgres Logs</h3>
        <textarea id="conseil-postgres-logs"></textarea>
        <h3>Arronax Logs</h3>
        <textarea id="arronax-logs"></textarea>
    {% endif %}

    <br>
    <a href="/">Back to Main Menu</a>

    <script>
        setInterval(function() {
            $.getJSON('http://localhost:5000/get_logs', {
                name: "{{node['name']}}",
            }, function(data) {
                document.getElementById("tezos-node-logs").innerText = data.tezos
                document.getElementById("conseil-api-logs").innerText = data.conseil
                document.getElementById("conseil-lorre-logs").innerText = data.lorre
                document.getElementById("conseil-postgres-logs").innerText = data.postgres
                document.getElementById("arronax-logs").innerText = data.arronax
            });
        }, 100)
    </script>
</body>
</html>