{% extends "base.html" %}

{% block title %}
    Setup Your Node
{% endblock %}

{% block content %}

    <div class="title">
        <h3>Setup Your Node</h3>
    </div>

    {% if get_flashed_messages() %}
        <div class="error-message">
            {% for message in get_flashed_messages() %}
                <i>{{ message }}</i>
            {% endfor %}
        </div>
    {% endif %}

    <form action="/start_node" id="options-container">
        <div class="title">
            Step 1
        </div>
        <div class="option-box">
            <br>
            Name Your Node
            <br>
            <input type="text" name="name" id="name-field">
        </div>
        <div class="title">
            Step 2
        </div>
        <div class="option-box">
            <br>
            Choose a Network
            <br>
            <br>
            <div class="radio-button-holder">
                <label>
                    <input type="radio" name="network" value="mainnet">
                    Mainnet
                </label>
                <br>
                <label>
                    <input type="radio" name="network" value="carthagenet">
                    Carthagenet
                </label>
                <br>
                <label>
                    <input type="radio" name="network" value="delphinet">
                    Delphinet
                </label>
                <br>
                <label>
                    <input type="radio" name="network" value="dalphanet">
                    Dalphanet
                </label>
                <br>
                <br>
            </div>
        </div>
        <div class="title">
            Step 3
        </div>
        <div class="option-box">
            <br>
            Choose a History Mode
            <br>
            <br>
            <div class="radio-button-holder">
                <label>
                    <input type="radio" name="mode" value="full">
                    Full
                </label>
                <br>
                <label>
                    <input type="radio" name="mode" value="experimental-rolling">
                    Rolling
                </label>
                <br>
                <label>
                    <input type="radio" name="mode" value="archive">
                    Archive
                </label>
                <br>
                <br>
            </div>
        </div>
        <div class="title">
            Step 4
        </div>
        <div class="option-box">
            <br>
                Advanced Settings
            <br>
            <br>
            <div class="radio-button-holder">
                <label>
                    <input type="checkbox" name="restore">
                    Restore Node from Snapshot
                </label>
                <br>
                <br>
                    <i>
                        NOTE: This is not recommended for archive mode, it is better to bootstrap the node from scratch.
                    </i>
                <br>
                <br>
                    <i>
                        NOTE 2: This option is not available with Delphinet and dalphanet (yet)
                    </i>
                <br>
                <br>
            </div>
        </div>
        <button type="submit" id="submit-button" class="button">Submit</button>
    </form>
    <br>
    <br>
    <br>
{% endblock %}