{% extends "base.html" %}

{% block title %}
    Setup Your Node
{% endblock %}

{% block content %}

    <div class="title">
        <h3>Setup Your Node</h3>
    </div>

    {% if get_flashed_messages() %}
        <div class="error-message">
            {% for message in get_flashed_messages() %}
                <i>{{ message }}</i>
            {% endfor %}
        </div>
    {% endif %}

    <form action="/start_node" id="options-container">
        <div class="title">
            Step 1
        </div>
        <div class="option-box">
            <br>
            Name Your Node
            <br>
            <input type="text" name="name" id="name-field">
        </div>
        <div class="title">
            Step 2
        </div>
        <div class="option-box">
            <br>
            Choose a Network
            <br>
            <br>
            <div class="radio-button-holder">
                <label>
                    <input type="radio" name="network" value="mainnet">
                    Mainnet
                </label>
                <br>
                <label>
                    <input type="radio" name="network" value="delphinet">
                    Delphinet
                </label>
                <br>
                <label>
                    <input type="radio" name="network" value="edonet">
                    Edonet
                </label>
                <br>
                <br>
            </div>
        </div>
        <div class="title">
            Step 3
        </div>
        <div class="option-box">
            <br>
            Choose a History Mode
            <br>
            <br>
            <div class="radio-button-holder">
                <label>
                    <input type="radio" name="mode" value="full" id="fullModeSelection">
                    Full
                </label>
                <br>
                <label>
                    <input type="radio" name="mode" value="experimental-rolling" id="rollingModeSelection">
                    Rolling
                </label>
                <br>
                <label>
                    <input type="radio" name="mode" value="archive" id="archiveModeSelection">
                    Archive
                </label>
                <br>
                <br>
            </div>
        </div>
        <div class="title">
            Step 4
        </div>
        <div class="option-box">
            <br>
                Advanced Settings
            <br>
            <br>
            <div class="radio-button-holder">
                <label>
                    <input type="checkbox" name="restore" disabled="disabled">
                    Restore Node from Snapshot
                </label>
                <br>
                <br>
                    <i>
                        Restoring from Snapshots will be coming soon!
                    </i>
{#                <br>#}
{#                    <i>#}
{#                        NOTE: This is not recommended for archive mode, it is better to bootstrap the node from scratch.#}
{#                    </i>#}
{#                <br>#}
{#                <br>#}
{#                    <i>#}
{#                        NOTE 2: This option is not available with Edonet#}
{#                    </i>#}
{#                <br>#}
{#                <br>#}
{#                <i>#}
{#                    The following options can only be selected for Archive Nodes.#}
{#                </i>#}
                <br>
                <br>
                <label>
                    <input type="checkbox" name="arronax" id="startArronax" disabled="disabled">
                    Install Arronax with Node
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" name="conseil" id="startConseil" disabled="disabled">
                    Install Conseil with Node
                </label>
                <br>
                <br>
                    <i>
                        NOTE: <br> Arronax and Conseil can only be installed off of an Archive Node
                    </i>
                <br>
                <br>
            </div>
        </div>
        <button type="submit" id="submit-button" class="button">Submit</button>
    </form>
    <br>
    <br>
    <br>
{% endblock %}

{% block scripts %}
    <script>

        var archiveModeSelection = document.getElementById("archiveModeSelection")
        var fullModeSelection = document.getElementById("fullModeSelection")
        var rollingModeSelection = document.getElementById("rollingModeSelection")

        var startArronax = document.getElementById("startArronax")
        var startConseil = document.getElementById("startConseil")

        archiveModeSelection.addEventListener("change", function () {
            if(archiveModeSelection.checked) {
                startArronax.disabled = false
                startConseil.disabled = false
                startArronax.checked = true
                startConseil.checked = true
            }
        })

        fullModeSelection.addEventListener("change", function () {
            if(fullModeSelection.checked) {
                startArronax.checked = false
                startConseil.checked = false
                startArronax.disabled = "disabled"
                startConseil.disabled = "disabled"
            }
        })

        rollingModeSelection.addEventListener("change", function () {
            if(rollingModeSelection.checked) {
                startArronax.checked = false
                startConseil.checked = false
                startArronax.disabled = "disabled"
                startConseil.disabled = "disabled"
            }
        })

        startArronax.addEventListener("change", function () {
            if(startArronax.checked) {
                startConseil.checked = true
            }
        })

        startConseil.addEventListener("change", function () {
            if(!startConseil.checked) {
                startArronax.checked = false
            }
        })


    </script>
{% endblock %}