<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nautilus Cloud</title>
</head>
<body>
    <h1>RPC Querying for Node "{{ node['name'] }}"</h1>
    <img src="../static/img/squid_looking.jpg" width="750">
    <br>
    Visiting this <a href="https://tezos.gitlab.io/api/rpc.html#rpcs-full-description">link</a> for information about RPC endpoints
    <br>
    <br>
    Enter your RPC query: <input type="text" id="query">
    <button id="submit">Submit Query</button>
    <br>
    <br>
    <textarea id="response">

    </textarea>
    <br>
    <br>
    <a href="/"><––– Go Back <–––</a>
</body>
<script>
    const submitButton = document.getElementById("submit");
    const query = document.getElementById("query");
    const response = document.getElementById("response");

    submitButton.addEventListener("click", function(e) {
        let request = new XMLHttpRequest();
        request.open("GET", "http://localhost:{{ node['rpc_port'] }}" + response.innerText, false);
        request.send(null);
        response.innerText = request.responseText
    });
</script>
</html>